---
interface Props {
  imgURL: string
  title: string
  subtitle: string
}

const { imgURL, title, subtitle } = Astro.props
---
<div class="card-container">
  <img src={imgURL} alt="card image" />
  <h5>{title}</h5>
  <p>{subtitle}</p>
</div>

<style>
  .card-container {
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    text-align: center;
  }

  .card-container > img {
    width: 100%;
    border-radius: 10px;
  }

  .card-container > h5 {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 700;
  }

  .card-container > p {
    color: hsl(220, 15%, 55%);
    font-size: 18px;
    font-weight: 400;
  }
</style>